.pokemon-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .pokemon-data-container {
        max-width: 100%;
        min-width: 0px;
        width: 900px;

        .pokemon-data {
            padding-left: calc(96px + env(safe-area-inset-left));
            padding-right: calc(96px + env(safe-area-inset-right));

            .pokemon-card {
                margin-bottom: 10px;
                font-weight: 700;
                text-transform: capitalize;
            }
        }

    }

}