.pokemon-detail-container {
    font-style: normal;
    color: #3D3D40;

    .pokemon-detail-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #E0E3F0;

        .pokemon-detail-header-title {
            font-style: normal;
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.595745px;

            .pokemon-detail-name {
                margin-top: 20px;
                font-weight: 400;
                font-size: 43px;
                line-height: 32px;
            }
        }
    }

    .pokemon-detail-body {
        margin-top: 10px;

        .pokemon-detail-container {
            background: #acc8f899;
            padding: 20px;
            border-radius: 5px;

            .line-row {
                display: flex;

                .pokemon-detail-element {
                    display: flex;
                    width: 50%;

                    .element-title {
                        color: #3D3D40;
                        font-weight: bold;
                        font-size: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }



        .chart-container {
            margin-top: 40px;
        }
    }

}

::ng-deep .highcharts-title {
    color: #3D3D40 !important;
    font-weight: bold !important;
    font-family: 'Lato', sans-serif !important;
}